{% load static %}

<!doctype html>
<html lang="en">

  <!-- Google Web Fonts
  ================================================== -->

  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900%7CLora:400,400i,700,700i" rel="stylesheet">

  <!-- Basic Page Needs
  ================================================== -->

  <title>Thank You</title>

  <!--meta info-->
  <meta charset="utf-8">
  <meta name="author" content="">
  <meta name="keywords" content="">
  <meta name="description" content="">

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <!-- Vendor CSS
  ============================================ -->

  <link rel="stylesheet" href="{% static "fonts/demo-files/demo.css" %}">

  <!-- CSS theme files
  ============================================ -->
  <link rel="stylesheet" href="{% static "css/bootstrap-grid.min.css" %}">
  <link rel="stylesheet" href="{% static "css/fontello.css" %}">
  <link rel="stylesheet" href="{% static "css/owl.carousel.css" %}">
  <link rel="stylesheet" href="{% static "css/style.css" %}">
  <link rel="stylesheet" href="{% static "css/responsive.css" %}">

</head>

<body>

  <div class="loader"></div>



  <!-- - - - - - - - - - - - - - Wrapper - - - - - - - - - - - - - - - - -->

  <div id="wrapper" class="wrapper-container page-full-height">

    <!-- - - - - - - - - - - - - Mobile Menu - - - - - - - - - - - - - - -->

    <nav id="mobile-advanced" class="mobile-advanced"></nav>

    <!-- - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - - -->

    <header id="header" class="header style-2 type-2">

      <!-- top-header -->

      <div class="top-header">

        <!-- logo -->

        <div class="logo-wrap">

          <a href="{% url "home:index" %}" class="logo"><img src="{% static "images/_LOGOS.png" %}" alt=""></a>

        </div>

        <!-- header buttons -->

        <div class="header-btns">

          <!-- button -->

        </div>


      </div>

    </header>

    <!-- - - - - - - - - - - - - end Header - - - - - - - - - - - - - - - -->

<!-- - - - - - - - - - - - - - Content - - - - - - - - - - - - - - - - -->

    <div id="content" class="page-content-wrap coming-soon">

      <div class="container">

        <div class="align-center">

          <div class="content-element3">

            <h1 class="title">Thank you for contacting us</h1>

            <p class="text-size-big">We will get back to you soon. God bless you</p>

          </div>

          <div>
              <a href="{% url "home:index" %}" class="btn btn-big btn-style-5">Home</a>
{#              <a href="{% url "home:index" %}"><div>Go Home</div></a>#}
          </div>

        </div>

      </div>


    </div>

    <!-- - - - - - - - - - - - - end Content - - - - - - - - - - - - - - - -->

{##}
{##}
{#{% endblock %}#}
{##}
{#{% block scripts %}#}
{##}
{#    <!-- {{ block.super }} -->#}
{##}
{#{% endblock %}#}


<!-- - - - - - - - - - - - - - Start Footer - - - - - - - - - - - - - - - - -->

    <div class="call-out newsletter">

      <div class="container wide">

        <div class="row align-items-center">
          <div class="col-lg-7 offset-lg-1">

            <h4 class="call-title f-left">Newsletter Sign Up</h4>
            <form id="newsletter" class="newsletter style-2">
              <button type="submit" data-type="submit" class="btn btn-big btn-style-5 f-right"><i class="licon-envelope"></i></button>
              <div class="wrapper">
                <input type="email" name="newsletter-email" placeholder="Enter your email address">
              </div>
            </form>

          </div>
          <div class="col-lg-4">

            <ul class="social-icons style-2">

              <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
              <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
              <li><a href="#"><i class="fab fa-youtube"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram"></i></a></li>

            </ul>

          </div>
        </div>

      </div>

    </div>

    <footer id="footer" class="footer">


      <div class="copyright">

        <p>Copyright © 2018 <a href="#">Deeperlife Bible Church Gwinnett, GA</a>. All Rights Reserved.</p>

      </div>

    </footer>

    <!-- - - - - - - - - - - - - end Footer - - - - - - - - - - - - - - - -->

  </div>

  <!-- - - - - - - - - - - - end Wrapper - - - - - - - - - - - - - - -->

  <!-- JS Libs & Plugins
  ============================================ -->
  <script src="{% static "js/libs/jquery.modernizr.js" %}"></script>
  <script src="{% static "js/libs/jquery-2.2.4.min.js" %}"></script>
  <script src="{% static "js/libs/jquery-ui.min.js" %}"></script>
  <script src="{% static "js/libs/retina.min.js" %}"></script>
  <script src="{% static "plugins/jquery.localScroll.min.js" %}"></script>
  <script src="{% static "plugins/jquery.scrollTo.min.js" %}"></script>
  <script src="{% static "plugins/jquery.countdown.min.js" %}"></script>
  <script src="{% static "plugins/fancybox/jquery.fancybox.js" %}"></script>
  <script src="{% static "plugins/mad.customselect.js" %}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyBN4XjYeIQbUspEkxCV2dhVPSoScBkIoic"></script>
  <script src="{% static "plugins/instafeed.min.js" %}"></script>
  <script src="{% static "plugins/revolution/js/jquery.themepunch.tools.min.js?ver=5.0" %}"></script>
  <script src="{% static "plugins/revolution/js/jquery.themepunch.revolution.min.js?ver=5.0" %}"></script>
  <script src="{% static "plugins/jquery.queryloader2.min.js" %}"></script>
  <script src="{% static "plugins/owl.carousel.min.js" %}"></script>

  <!-- JS theme files
  ============================================ -->
  <script src="{% static "js/plugins.js" %}"></script>
  <script src="{% static "js/script.js" %}"></script>

  <!-- JS files
  ============================================ -->
  <script type="text/javascript" src="{% static "plugins/revolution/js/extensions/revolution.extension.slideanims.min.js" %}"></script>
  <script type="text/javascript" src="{% static "plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js" %}"></script>
  <script type="text/javascript" src="{% static "plugins/revolution/js/extensions/revolution.extension.navigation.min.js" %}"></script>

{% block scripts %}{% endblock %}

</body>
</html>